.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 166px));
    -moz-column-gap: 3vw;
    column-gap: 2vw;
    row-gap: 3vh;
    margin: 0 2vw;
}
.card{
    border: 1px solid dimgray;
    background-color: lightgray;
    width: auto;
    min-width: 154px;
    padding: 5px;

}
.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    animation-delay: 0.5s;
 }
img{
    height: auto;
    width: 9vw;
    min-width: 150px;
    border-radius: 5px;
}
.addWatch{
   margin: auto;
   place-content: center;
   color: #e2c108;
   border-radius: 10px;
   background-color: black;
   border-color: black;
}
.cardTitle{
    text-align: center;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
